/* va el dropdown */

		.dropdown {
    		position: relative;
    		display: inline-block;
		}

		.dropdown-content {
    		display: none;
    		position: absolute;
    		background-color: rgba(255, 0, 170, 0.3);
			width: 100px;
    		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    		padding: 12px 16px;
    		z-index: 20;
    		cursor: crosshair;
    		color:#fff;
		}

		.dropdown:hover .dropdown-content {
    		display: block;
			}


		body {
			margin-left: 360px;
			margin-right: 2rem;
			background-color: #A66EA7;
			background-image: url("image-0051.png");
			background-repeat: repeat-x;
			background-repeat: repeat-y;
			color:  #FFF;
			z-index:40;
		}

		img {
			z-index: 1;
			position: fixed;
			top: 220px;
			left: 420px;
			width: 380px;
			height: auto;
			opacity: 1;
			-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
		
		canvas {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 0;
		}
		
		#contenu {
			margin-top: 40px;
			margin-left: 40px;
		}
		
		#contenu {
			position: relative;
			z-index: 2;
		}
		#contenuno {
			margin-top: 40px;
			margin-left: 200px;
			z-index: 4;
		}
		



		sub {
		background-color: rgba(10,10,10,0.4);
		}

		sub1 {
		background-color: rgba(255,0,170,0.35);
		}

		sub2 {
		background-color: rgba(250,170,0,0.4);
		}

		sub3 {
		background-color: rgba(0,250,219,0.4);
		}


		a:link,
		a:visited {
			text-decoration: none;
			background-color: rgba(255,201,3,0.65);
			/*background-color: rgba(255, 255, 255, 1);*/
			color: #000;
		}

		a1:link,
		a1:visited {
			text-decoration: none;
			background-color: rgba(255,0,255,0.65);
			/*background-color: rgba(255, 255, 255, 1);*/
			color: #000;
		}
		
		p {
			z-index: 2;
			padding-right: 300px; /* este es el que cambia el acá txt */
			font-family: MikadoRegular;
			src: url("MikadoRegular.otf");
			line-height: 0.95rem;
			font-size: 14px;
		}

			p2 {
			z-index: 2;
			padding-right: 300px; /* este es el que cambia el acá txt */
			text-align: right;
		}

		p.small {
    		line-height: 10;
		}

		p.big {
    		line-height: 2;
		}
		
		@font-face {
			font-family: MikadoRegular;
			src: url("MikadoRegular.otf");
		}
		
		div {
			font-family: MikadoRegular;
		}
		
		#main {
			font-family: MikadoRegular;
		}
		
		#author {
			font-size: 1rem;
			padding-top: 2rem;
		}
		/* #### Mobile Phones Portrait #### */
		
/* Responsive Styles */

@media all and (max-width:591px){


p {
  font-size: 36px;
  text-align: left;
  padding-left: -20;
  padding-right: 0;
}
}

@media all and(max-width:767px) {


p {
  font-size: 36px
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
}
