/* va el dropdown */

		.dropdown {
    		position: relative;
    		display: inline-block;
		}

		.dropdown-content {
    		display: none;
    		position: absolute;
    		background-color: rgba(200, 200, 200, 200);
			width: 100px;
    		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
    		padding: 12px 16px;
    		z-index: 20;
    		cursor: crosshair;
    		color:#fff;
		}

		.dropdown:hover .dropdown-content {
    		display: block;
			}


		body {
			margin-left: 320px;
			margin-right: 2rem;
			background-color: #A66EA7;
			background-image: url("image-0051.png");
			color:  #FFF;
		}

		img {
			z-index: 1;
			position: fixed;
			top: 220px;
			left: 420px;
			width: 320px;
			height: auto;
			opacity: 1;
			-webkit-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}
		
		canvas {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 0;
		}
		
		#contenu {
			margin-top: 0px;
			margin-left: 0px;
		}
		
		#contenu {
			position: relative;
			z-index: 2;
		}
		
		#contenuno {
			margin-top: 80px;
			margin-left: 230px;
		}
		



		sub {
		background-color: rgba(0,180,200,0.25);
		}

		a:link,
		a:visited {
			text-decoration: none;
			background-color: rgba(255,201,3,0.65);
			/*background-color: rgba(255, 255, 255, 1);*/
			color: #000;
		}

		a1:link,
		a1:visited {
			text-decoration: none;
			background-color: rgba(255,0,255,0.65);
			/*background-color: rgba(255, 255, 255, 1);*/
			color: #000;
		}
		
		p {
			z-index: 2;
			padding-right: 300px; /* este es el que cambia el acá txt */
			font-family: MikadoRegular;
			src: url("MikadoRegular.otf");
			line-height: 0.95rem;
			font-size: 14px;
		}

			p2 {
			z-index: 2;
			padding-right: 300px; /* este es el que cambia el acá txt */
			text-align: right;
		}

		p.small {
    		line-height: 10;
		}

		p.big {
    		line-height: 2;
		}
		
		@font-face {
			font-family: MikadoRegular;
			src: url("MikadoRegular.otf");
		}
		
		div {
			font-family: MikadoRegular;
		}
		
		#main {
			font-family: MikadoRegular;
		}
		
		#author {
			font-size: 1rem;
			padding-top: 2rem;
		}
		/* #### Mobile Phones Portrait #### */
		
		@media screen and (max-device-width: 480px) and (orientation: portrait) {
			p {
				font-size: 0.6rem;
				margin-top: 3rem;
				font-family: MikadoRegular;
				src: url("MikadoRegular.otf");
				font-weight: normal;
				line-height: 1rem;
				padding-right: 0.6rem;
				max-width: 85%;
			}
		}
		/* #### Mobile Phones Landscape #### */
		
		@media screen and (max-device-width: 640px) and (orientation: landscape) {
			p {
				font-size: 1.2rem;
				margin-top: 12px;
				font-family: MikadoRegular;
				src: url("MikadoRegular.otf");
				font-weight: normal;
				line-height: 10px;
				padding-right: 0.6rem;
				max-width: 45%;
			}
}
